.form {
  width: min(100%, toRem(570));
  margin-inline: auto;
  margin-top: 2rem;

  *{
    outline: none;
  }

  input[type="text"] {
    appearance: none;
    width: 100%;
    color: white;
    font-size: toRem(24);
    padding: 1.25rem 2rem 1.25rem 1.25rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 5rem;

    &::placeholder {
      color: rgba($color: #ffffff, $alpha: 0.5);
    }

    @media screen and (max-width: 768px) {
      padding: 1rem 2rem 1rem 1rem;
      font-size: toRem(20);
    }
  }
  button {
    position: absolute;
    top: 45%;
    right: 2rem;
    padding: 0;
    border: none;
    background: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  label {
    font-size: toRem(14);
    text-transform: capitalize;
    
    @media screen and (max-width: 768px) {
      font-size: toRem(16);
    }
  }

  input[type="checkbox"] {
    appearance: none;
    width: toRem(20);
    height: toRem(20);
    background-color: $pink-100;
    border-radius: 0.25rem;
    margin: 0 0.5rem ;

    &:checked {
      background-image: url("../img/ico-check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70% auto;
    }

    @media screen and (max-width: 768px) {
      width: toRem(25);
      height: toRem(25);
    }
  }
}