.header {
  text-align: center;

  &__logo {
    width: min(60vw, 20rem);
    margin-inline: auto;
    margin-bottom: 2.5rem;
  }

  &__title,
  &__subtitle {
    font-size: toRem(60);
    font-weight: 900;
    line-height: 1.1;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: toRem(30);
    }
  }

  &__title {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    background-image: linear-gradient(to right top, #14affc, #009fff, #008dff, #0078ff, #3b5fff, #6e4ffa, #9339f1, #b100e4, #cb00d5, #e000c7, #f000b9, #fc19ad);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: rgba($color: #ffffff, $alpha: 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  &__subtitle {
    display: block;
    background: none;
    color: white;
  }

  &__result {
    font-size: toRem(24);
    strong {
      text-transform: capitalize;
    }

    @media screen and(max-width: 768px) {
      width: 100%;
    }
  }

  &__aside {
    @media screen and(max-width: 768px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__divider {
    width: 100%;
    border-color: $indigo-100;
  }

  &__select {
    appearance: none;
    color: white;
    background-color: $primary;
    border: 1.75px solid $indigo-100;
    padding: 0.75rem 2.5rem 0.75rem 0.75rem;
    border-radius: 0.5rem;
    min-height: toRem(46);
    font-size: toRem(16);
    background-image: url("../img/ico-arrow.svg");
    background-repeat: no-repeat;
    background-position: center right 1rem;
    background-size: 0.75rem;
  }
}